/* pages/Dashboard.css */

.dashboard {
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.dashboard h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.dashboard p {
  font-size: 22px;
  color: #555;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.card {
  width: 240px;
  height: 180px;

  border: 1px solid #ccc;
  border-radius: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
}

.card h2 {
  font-size: 48px;
}

.card span {
  font-size: 26px;
  text-align: center;
}